<mat-toolbar color="primary" class="app-toolbar">
  <a routerLink="/dashboard" class="brand-link">
    <mat-icon>business</mat-icon>
    <span class="brand-text">HR Vision</span>
  </a>

  <span class="toolbar-spacer"></span>

  <app-notification></app-notification>

  <button mat-icon-button [matMenuTriggerFor]="userMenu" class="user-menu-btn">
    <div class="user-avatar-chip">{{ getUserInitials() }}</div>
  </button>

  <mat-menu #userMenu="matMenu" xPosition="before">
    <div class="menu-header">
      <div class="menu-avatar">{{ getUserInitials() }}</div>
      <div class="menu-user-info">
        <span class="menu-username">{{ currentUser?.username || 'User' }}</span>
        <span class="menu-email">{{ currentUser?.email || '' }}</span>
      </div>
    </div>
    <mat-divider></mat-divider>
    <button mat-menu-item routerLink="/my-profile">
      <mat-icon>person</mat-icon>
      <span>My Profile</span>
    </button>
    <button mat-menu-item routerLink="/notifications">
      <mat-icon>notifications</mat-icon>
      <span>Notifications</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="logout()" class="logout-menu-item">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>
